.header1 {
  width: 100%;
  padding-top: 10px;
  position: fixed;
  text-align: center;
  top: 0;
  .city {
    font-size: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: 1365px) {
  .header1 {
    padding-top: 20px;

    .city{
      font-size: 2rem;
    }
  }
}

app-navbar {
  width: 100%;
  position: fixed;
  bottom: 0
}

.all {
  width: 100%;
}