<!-- <div class="all">
    <section class="header1">
        <p class="city">江门市</p>
    </section>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <app-navbar></app-navbar>
</div> -->

<nz-layout>
    <nz-header nzTheme>
      <h2>江门市</h2>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer>
      <div class="logo"></div>
      <ul nz-menu nzTheme="light" nzMode="horizontal">
        <li nz-menu-item nzSelected>
          <a routerLink="/forecast">预报图</a>
        </li>
        <li nz-menu-item>
          <a routerLink="/real">实况图</a>
        </li>
        <li nz-menu-item>
          <a routerLink="/radar">雷达图</a>
        </li>
        </ul>
    </nz-footer>
  </nz-layout>