#current-temp-big{
    display: inline-block;
    
    width: 100%;
    
    text-align: center;
    color: #fff;
#ctb{
    font-size: 15rem;
    font-weight: bold;
}	
#ctbicon{
    position: relative;
    top: -40px; left: -5px;
    
    font-weight: 100;
    font-size: 4rem;
    vertical-align: unset;
    }
}

#temp-div{
    position: fixed;
    bottom: 0
}