<div class="row">
    <div class="col">
        <div class="one-day text-center">
            <p>星期天</p>
            <h2>30<span class="degree-symbol">°</span></h2>
            <img src="">
        </div>
    </div>
    <div class="col">
        <div class="one-day text-center">
            <p>星期天</p>
            <h2>30<span class="degree-symbol">°</span></h2>
            <img src="">
        </div>
    </div>
    <div class="col">
        <div class="one-day text-center">
            <p>星期天</p>
            <h2>30<span class="degree-symbol">°</span></h2>
            <img src="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="temp-div">
            <div id="icon-temp">
                <p>Sunny</p>
                <i class="wi wi-day-cloudy" aria-hidden="true"></i>
            </div>
            <p id="current-temp-big">
                <span id="ctb">17</span>
                <span id="ctbicon">ºC</span>
            </p>
        </div>
    </div>
</div>